@import "tailwindcss";

@theme {
  --color-primary-50: #f3faf9;
  --color-primary-100: #d5f2ee;
  --color-primary-200: #ace3dc;
  --color-primary-300: #7acec5;
  --color-primary-400: #4eb3ab;
  --color-primary-500: #359792;
  --color-primary-600: #287976;
  --color-primary-700: #236260;
  --color-primary-800: #204f4f;
  --color-primary-900: #1f4242;
  --color-primary-950: #103031;
  --color-primary-foreground: hsl(var(--color-primary-foreground));

  --color-secondary-50: #faf7fc;
  --color-secondary-100: #f4edfa;
  --color-secondary-200: #e8dbf3;
  --color-secondary-300: #d9bee9;
  --color-secondary-400: #c297db;
  --color-secondary-500: #a76ec7;
  --color-secondary-600: #8a4faa;
  --color-secondary-700: #733f8c;
  --color-secondary-800: #5f3573;
  --color-secondary-900: #512f60;
  --color-secondary-950: #401c4f;
  --color-secondary-foreground: hsl(var(--color-secondary-foreground));
}

body {
  background-color: var(--color-primary-100);
}